body, html, h3,h1{
	margin:0;
	padding: 0;
}

header{
	text-align: center;
	width:100%;
	background-color: tomato;
}

footer{
	text-align: center;
}

.col{
	width: 100vw;
	padding: 10px;
	margin: 10px auto;
	background-color: lightblue;
}

h1{
	font-size: 1.5em;
	padding: 20px;

}

@media (min-width: 450px){
	h1{ font-size: 1.75em; }
}

@media (min-width: 768px){

	.col{ 
		width: 33.3%; 
		margin: 10px 5px;
	}
	.col-group{ 
		display: flex; 
		padding: 0 5px;
	}
}
