*{box-sizing: border-box;}

body,html,div,ul,h1{
	margin: 0;
	padding: 0;
}



/* ---------------Top Navigation */


/* ---------------Top heading */


/* ---------------Main content */
main{
	padding: 0 5% 0 5%;
	max-width: 960px;
	margin: 0 auto;
}


.flex-2-col img{
	max-width: 100%;
	margin: 0 auto;
	display: block;
}


/* ---------------Row icons */


/*-----------Footer */


/*-----------Media Queries */

