body{
	font-family: sans-serif;
	text-align: center;

}

main{
	max-width: 768px;
	margin: 0 auto;
	width: 80%;
}

li{
	list-style-type: none;
}

h1{
	color: #999;
}


ul{
	padding:10px 0px;
	border-bottom: 1px solid #999;
}

ul.grid {
	display: flex;
	flex-wrap: wrap;
	align-content:center;
	align-items: space-between;
}

ul.stacked {
	display: flex;
	flex-direction: column;
}

ul.single-file {
	display: flex;
}

ul.single-file img{
	max-width: 100%;
}