body, html, header, h1,h2,h3,ul,li{
	padding: 0;
	margin: 0;
	font-weight: normal;
}



body{
	font-family: 'Roboto', sans-serif;
	font-size: 90%;
	color: #333;
}

a{
	color: tomato;
}
/* ---------------------------- Primary Layout */
header{
	padding: 0px 0px 30px 0px;
	margin-bottom: 30px;
}

main{
	width: 55vw;
	float: right;
	padding: 0 8vw 0 0;
	margin: 0 auto;
}

aside{
	width: 23vw;
	float: left;
	padding: 0px 0px 30px 8vw;
	margin: 0px 4vw 0px 0px;
}

#content{
	margin: 0 auto;
	max-width: 960px;
}
/* ---------------------------- Header */
header{
	text-align: left;
	color: #000;
	padding: 0px 0px 2vw 8vw;

}

header a{
	text-decoration: none;
	color: #000;
}
header h1{
	font-size: 160%;
	/*line-height: .75em;*/
	text-transform: uppercase;
	display: inline-block;
	margin-top: -3px;
}

#icon{
	display: inline-block;
	max-width: 40px;
	overflow: hidden;
	vertical-align: bottom;
}
#icon img{
	max-width: 90px;
	margin-left: -25px;
}
/* ---------------------------- Main Content */

article{
	padding: 5px 0px 30px 0px;
	border-top: 1px solid tomato;
}

article p{
	line-height: 1.75em;
}

article section{
	padding-top: 15px;
}

article section:first-of-type {
   padding-top: 20px;
}

section p{
	margin-top: 10px;
	line-height: 1.5em;
}

section ul{
	margin: 10px 0px 30px 0px;
}

/* ---------------------------- Side Bar Nav Styles, List styles */

#site-navigation{
	border-top: 1px solid tomato;
}

.sidebar p{
	font-size: 90%;
	line-height: 1.45em;
	color: gray;
}

.sidebar h4{
	color: black;
}

.sidebar nav{
	font-size: 120%;
	margin-top: 20px;
}

ul{
	list-style-type: none;
}

li{
	margin-bottom: 8px;
}

ul a{
	color: tomato;
	text-decoration: none;
	border-bottom: 2px solid #ececec;
}

header nav li{
	display: inline-block;
	padding: 40px 20px 0px 20px;
}

ul.ul-box-dec{
	list-style-type: square;
	padding-left: 15px;
}

/* ---------------------------- MEDIA QUERIES */
@media screen and (max-width: 768px) {
    header h1{ padding-top: 4px;}
    header { padding: 0px 0px 0px 5vw; margin-bottom: 0px;}
    main { width: 90vw; padding: 0 5vw 0 5vw; float: left;}
    .sidebar{ width: 90vw; padding: 0px 5vw 0px 5vw; float:left; }
    #site-navigation{ border-top: none; margin-bottom: 30px;}
}




